html{
    min-height: 100%;
    position: relative;
}


#logotipo{
    width: 7rem;
}
.centrado{
    text-align: center;
    margin: auto;
}
html, body, h1, h3, h4, ol, ul, li, a, p{
    margin:0;
    padding: 0;
    font-family: Calibri,Arial;
}

body {
    background-color: #000000;
    margin: 0;
    margin-bottom: 40px;

  }

  .sect {
    width: 100%;
    min-height: 500px;
  }
  #sect1,
  #sect3 {
    background-color: #3333337d;
    color: #fff;
  }
  #sect2 {
    background-color: #dddddd7d;
    color: #333;
  }
  video {
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    z-index: -1;
  }
  h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  
  footer {
    background-color: rgb(119, 3, 3);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    color: white;
  }

.d{
    text-align: center;
}

.imagen{
    width: 100px;
    height: 100px;
    background-image: url(https://preview.redd.it/cat-memes-dump-silly-warning-v0-9886ruaboqeb1.jpg?width=1080&crop=smart&auto=webp&s=fb2ecae3a356c9129e299a6bfa98428bf83db02a);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}






  
.espacioHeader{
    padding-left: 105px;
}

header{
    background-color: #000000;
    height: 38px;
    padding-top: 10px;
    padding-left: 50px;
}

header a{
    background-color: #bb0c0c;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 14px;
    float: inline-end;
}


.espacioEnlace1{
    padding-left: 450px;
}



#nav-item{
    height: 65px;
    background-color: #000000;
}

#nav-item a{
    text-decoration: none;
    font-size: 26px;
    color: #a00000;
    text-align: center;
    padding-right: 50px;
}

#nav-item ul{
    float: left;
    padding-top: 15px;
}

#nav-item ul li{
    display: inline;
}

#nav1 ul li a:hover{
    color: #0debcd;
}


#contenedor2{
    float: left;
    margin-top: 10px;
    margin-left: 140px;
}

#contenedor2 h2{
    color: #FFFFFF;
}



#contenedor2 img{
    width: 100%;
}

#contenedor2 ul{
    list-style: none;
    text-decoration: none;
}

#contenedor2 a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

#contenedor2 a:hover{
    color: rgb(255, 0, 0);
}



#contenedorTabla table tr td{
    background-color: #c9c9c9;
    font-family: Calibri;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}


#contenedorTabla table h3{
    text-align: center;
    color: #f71616;
}

#contenedorLogin{
    background-color: #000000;
    
}

#contenedorLogin table{
    background-color: #910c0c;
    width: 700px;
    text-align: center;
    border-width: 0;
}
#contenedorLogin table th{
    background-color: #7e0606;
    
}

.textoizquierda{
    text-align: left;
    padding-left: 150px;
    font-weight: bold;
}

#contenedorLogin table th p{
    font-size: 30px;
    color: #310a0a;
}

#contenedorLogin table th label{
    font-size: 20px;
    color: #6b0d0d;
}

#contenedorLogin table td label{
    font-size: 25px;
    text-align: left;
}

#contenedorLogin a{
    color: #ffb1b1de;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}

.camposForm{
    font-size: 30px;
    border-color: rgb(46, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.espaciosForm{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.boton{
    font-size: 28px;
    background-color: #ff5b5b56;
    color: #ffb1b1de;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 140px;
    padding-right: 140px;
}


